<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Virtual Machine</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <v-popup
            @close-popup="closePopup"
            v-if="isInfoPopupVisible"
            :product_data="modalData"
    >
    </v-popup>


    <div class="filters">
    <div class="filters__head">
        <div class="head__title">
            <h2 class="title__name">Virtual Machine</h2>
        </div>
    </div>
    <div class="filters__list">
        <ul class="list__items">
            <li class="list__item">
                <div class="item__text">
                    <div class="text__header">
                        New VM
                    </div>
                    <div class="text__subtext">
                        Look in
                    </div>
                </div>
            </li>
            <li class="list__item">
                <v-select :selected="selected"
                          :options="categories"
                          @select="sortByCategories"
                ></v-select>
            </li>
            <li class="list__item">
                <ul class="item__controls">
<!--                    <li class="control__item">-->
<!--                        <i class="fa fa-filter" aria-hidden="true"></i>-->
<!--                    </li>-->
                    <li class="control__item"
                        @click="sortedByName"
                    >
                        <i class="fa fa-exchange"
                           aria-hidden="true"
                           :class="{activeIcon: isSortedName}"
                        ></i>
                    </li>
                    <li class="control__item"
                        @click="clearFilters"
                    >
                        <i class="fa fa-repeat"
                           :class="{activeIcon: isClearFilter}"
                           aria-hidden="true"></i>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>



    <transition-group name="flip-list" tag="div" class="card-list">
    <v-card
                    v-for="machine in filteredMachines"
                    :key="machine.id"
                    :product_data="machine"
                    @remove-machine="removeMachine"
                    @show-details="showDetails"
        ></v-card>
    </transition-group>




<!--    <v-component></v-component>-->







</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="vueScript.js"></script>
<script src="component.js"></script>
<!--<script-->
<!--        src="https://code.jquery.com/jquery-3.5.1.js"-->
<!--        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="-->
<!--        crossorigin="anonymous"></script>-->
</body>
</html>


