ul, li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card_list{
    display: flex;
    flex-wrap: wrap;
}

.card{
    position: relative;
    display: block;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    transition: box-shadow 0.4s ease-in-out 0s;
    box-shadow: rgb(0 0 0 / 8%) 0px 6px 12px 0px;
    /*box-shadow: 0 5 15px rgba(0 0 0 0.08);*/
    padding: 1rem;
    width: 290px;
    max-height: 340px;
    margin: 1rem auto 0;
}
.card:hover{
    /*box-shadow: rgb(0 0 0 / 10%) 1px 2px 31px 10px;*/
    box-shadow: 0 14px 25px rgb(0 0 0 / 16%);
}
.card__virtual-machine{
    max-height: 130px;
}
.virtual-machine{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    line-height: 1.1;
}
.virtual-machine__desc{
    max-width: 220px;

}
.virtual-machine__info{
    color: rgb(73, 80, 87);
    font-size: 16px;
    font-weight: 400;
}
.virtual-machine__title{
    color: rgb(73, 80, 87);
    font-size: 20px;
    font-weight: 400;
    margin: 5px;
}
.virtual-machine__subtitle, .virtual-machine__status{
    color: rgb(73, 80, 87);
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
}
.virtual-machine__subtitle{
    color: rgb(73, 80, 87);
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
    margin-bottom: 5px;
}
.virtual-machine__icon{
    margin-top: 1rem;
}
.fa-desktop{
    color: rgb(73, 80, 87);
}




.card__desc{
    max-height: 150px;
    margin-top: .5rem;
}
.desc{
    margin: 0;
}
.item-info{
    display: grid;
    grid-template-columns: 35px 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    margin-bottom: 1rem;
}
.fa-microchip, .fa-hdd-o, .fa-globe{
    font-size: 30px;
    color: rgb(73, 80, 87);
}
.item-info__subtitle{
    color: rgb(73, 80, 87);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
}
.item-info__text{
    /*color: rgb(73, 80, 87);*/
    font-size: 14px;
    font-weight: bold;
}






.card__control{
    max-height: 50px;
}

.control__actions, .control__details{
    position: relative;
    /*margin-left: .5rem;*/
    display: flex;
    color: rgba(230, 0, 40, .8);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}
.control{
    display: grid;
    grid-template-columns: 1fr 35px 1fr;
}










.selectlink {
    position: relative;
    display: inline-block;
    width: 200px;
    text-align: left;
    margin: 10px;
}
.selectlink-control {
    position: relative;
    padding: 10px 15px;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
}
.selectlink-control:after {
    content: '';
    border: 5px solid transparent;
    border-top: 5px solid #999;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
}
.selectlink ul {
    display: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    max-height: 200px;
    position: absolute;
    top: 100%;
    left: 0px;
    border: 1px solid #dadada;
    border-top: none;
    background: #fff;
    z-index: 9999;
    overflow: auto;
    user-select: none;
}
.selectlink li {
    display: block;
    margin: 0;
    padding: 0;
}
.selectlink li p {
    position: relative;
    display: block;
    margin: 0;
    padding: 4px 6px 4px 15px;
    font-weight: normal;
    font-size: 1em;
    line-height: 1.1;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}
.selectlink li p:hover {
    background: #03a2ff;
    color: #fff;
}

@media screen and (max-width: 700px) {
    .body_pointer {
        cursor: pointer;
    }
}























/*================================================== filters*/






.list__items{
    display: flex;
}
.item__text{
    display: flex;
}
.text__header{
    text-transform: uppercase;
    color: rgb(52, 58, 64);
    font-size: 14px;
    font-weight: 400;
    padding: 0 .5rem;
}
.text__subtext{
    color: rgb(73, 80, 87);
    font-size: 14px;
    padding-right: .5rem;
}
.item__controls{
    display: flex;
}
.title__name{
    color: rgb(73, 80, 87);
    font-size: 20px;
    font-weight: 400;
}





.select-hidden {
    display: none;
    visibility: hidden;
}

.select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 14px;
    border-bottom: 2px solid rgb(230, 0, 40);
    color: rgb(73, 80, 87);
    width: 110px;
    height: 25px;
}

.select-styled {
    position: absolute;
    top: -6;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    padding: 8px;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.select-styled:after {     /*стрелка вниз*/
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: rgb(73, 80, 87) transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
}
/*.select-styled:hover {*/
/*    background-color: rgba(230, 0, 40, .7);*/
/*}*/
/*.select-styled:active, .select-styled.active {*/
/*    background-color: rgb(230, 0, 40);*/
/*}*/
.select-styled:active:after, .select-styled.active:after {
    top: 9px;
    border-color: transparent transparent rgb(73, 80, 87) transparent;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgb(230, 0, 40);
}
.select-options li {
    color: #fff;
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid rgb(230, 0, 40);
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}
.select-options li:hover {
    color: #fff;
    background: rgb(73, 80, 87);
}
.select-options li[rel="hide"] {
    display: none;
}
.control__item{
    margin: 0 .5rem;
    color: rgb(73, 80, 87);
}
.control__item:hover{
    box-shadow: 0 14px 25px rgb(0 0 0 / 16%);
    color: black;
}
.fa-exchange{
    transform: rotate(90deg);
}

/*.fa{*/
/*    color: pink;   меняем цвет иконки */
/*}*/

.select_label-placeholder{
    height: 40px;
}
